$color-dark-blue: #0d0c68
$color-light-blue: #6262f9
$color-electric-blue: #22e1ea
$color-orange: #ff6902
$color-pink: #ff2347
$color-grey: #DFE0E7
 
$color-accent: $color-dark-blue
$color-text: #000000
$color-text-alt: #454545
$color-border: rgba(0, 0, 0, 0.30)
$color-background-alt: #FFFFFF
$color-background: $color-grey

$font-metabreton: "MetabretonPro", sans-serif
$font-plex-mono: "IBM Plex Mono", sans-serif
$font-plex-sans: "IBM Plex Sans", sans-serif

$body-font-family: $font-plex-sans
$heading-font-family: $font-plex-sans

$h1-font-family: $font-metabreton
$h1-weight: normal

$header-border-bottom-width: 0
$header-background: none
$header-dropdown-full: true
$header-logo-height: 50px
$header-logo-height-desktop: 70px
$header-sticky-enabled: false // https://github.com/osunyorg/theme/issues/485
$hero-background-color: none
$footer-color: $color-background
$footer-background-color: $color-text
$footer-logo-height: 50px
$footer-logo-height-desktop: 100px

$quote-size-desktop: pxToRem(40)
$quote-size-desktop-short: $quote-size-desktop
$quote-size-desktop-long: $quote-size-desktop
$quote-font-family: $font-plex-mono
