$color-accent: #ff2347
$color-text: #000000
$color-text-alt: #454545
$color-border: rgba(0, 0, 0, 0.30)
$color-background-alt: #F2F2F2
$color-background: #FFFFFF

$font-metabreton: "MetabretonPro", sans-serif
$font-plex-mono: "IBM Plex Mono", sans-serif
$font-plex-sans: "IBM Plex Sans", sans-serif

$body-font-family: $font-plex-sans
$heading-font-family: $font-plex-sans

$h1-font-family: $font-metabreton
$h1-weight: normal

$header-border-bottom-width: 0
$header-background: none
$header-logo-height: 40px
$header-logo-height-desktop: 60px
$hero-background-color: none