$color-dark-blue: #0d0c68
$color-light-blue: #6262f9
$color-electric-blue: #22e1ea
$color-orange: #ff6902
$color-pink: #ff2347
 
$color-accent: $color-dark-blue
$color-text: #000000
$color-text-alt: #454545
$color-border: rgba(0, 0, 0, 0.30)
$color-background-alt: #F2F2F2
$color-background: #FFFFFF

$font-metabreton: "MetabretonPro", sans-serif
$font-plex-mono: "IBM Plex Mono", sans-serif
$font-plex-sans: "IBM Plex Sans", sans-serif

$body-font-family: $font-plex-sans
$heading-font-family: $font-plex-sans

$h1-font-family: $font-metabreton
$h1-weight: normal

$header-border-bottom-width: 0
$header-background: $color-dark-blue
$header-color: $color-background
$header-dropdown-full: true
$header-logo-height: 50px
$header-logo-height-desktop: 70px
$hero-background-color: $color-dark-blue
$hero-color: $color-electric-blue
$footer-color: $color-background
$footer-background-color: $color-text
$footer-logo-height: 50px
$footer-logo-height-desktop: 70px
$breadcrumb-color: $color-text
$breadcrumb-color-active: $color-dark-blue

// $btn-font-family: $heading-font-family !default
// $btn-font-size: $meta-size !default
// $btn-font-size-desktop: $meta-size-desktop !default
// $btn-font-style: normal !default
// $btn-font-weight: normal !default
// $btn-line-height: $body-line-height !default
// $btn-text-transform: none !default
// $btn-color: var(--color-text) !default
// $btn-hover-color: var(--color-text) !default
$btn-background: $color-background
// $btn-hover-background: var(--color-background) !default
$btn-border-width: 0
// $btn-border: $btn-border-width solid var(--color-border) !default
// $btn-hover-border: $btn-border !default
// $btn-border-desktop: $btn-border !default
// $btn-border-radius: pxToRem(4) !default
// $btn-border-radius-desktop: $btn-border-radius !default
// $btn-padding: pxToRem(12) pxToRem(10) !default
// $btn-padding-desktop: pxToRem(18) pxToRem(16) !default
// $btn-min-width: pxToRem(100) !default
// $btn-min-width-desktop: pxToRem(190) !default
// $btn-disabled-color: var(--color-text-alt) !default
// $btn-disabled-background: var(--color-background-alt) !default
// $btn-disabled-border: $btn-disabled-background !default
