header#document-header
    .primary-menu
        > .container
            .menu
                a
                    font-family: $font-plex-mono
                    font-style: italic
            @include media-breakpoint-up(desktop)
                display: block
                .logo
                    img
                        width: 100%
                        height: auto
                        transition: width 0.25s
                .menu
                    margin-top: $spacing-5
                    li
                        margin-right: $spacing-4
                        a
                            font-size: pxToRem(30)
                            padding: 0
.has-menu-sticky
    header#document-header
        .primary-menu
            > .container
                @include media-breakpoint-up(desktop)
                    display: flex
                    .logo
                        img
                            width: 200px
                    .menu
                        margin-top: 0
                        margin-left: $spacing-4
                        margin-right: 0
                        li
                            a
                                font-size: pxToRem(20)