footer#document-footer
    .footer-site
        p
            a
                display: none
    @include media-breakpoint-down(desktop)
        padding-top: var(--grid-gutter)
        padding-bottom: var(--grid-gutter)