footer#document-footer
    @include media-breakpoint-up(desktop)
        .logo
            position: fixed
            bottom: 100px
            right: -50px
            z-index: -1
            img
                height: 550px
                transform: rotate(-20deg)