header#document-header
    .primary-menu
        > .container
            .menu
                a
                    font-family: $font-plex-mono
                    font-style: italic
    @include media-breakpoint-down(desktop)
        .logo
            img
                width: 100%
                height: auto
                transition: width 0.25s
    @include media-breakpoint-up(desktop)
        .primary-menu
            > .container
                .menu
                    margin-top: 0
                    li
                        margin-left: $spacing-4
                        margin-right: 0 !important
                        a
                            font-size: pxToRem(20)
