header#document-header
    .primary-menu
        > .container
            .menu
                a
                    font-family: $font-plex-mono
                    font-style: italic
    @include media-breakpoint-up(desktop)
        .primary-menu
            > .container
                display: flex
                .logo
                    img
                        width: 200px
                .menu
                    margin-top: 0
                    li
                        margin-left: $spacing-4
                        margin-right: 0 !important
                        a
                            font-size: pxToRem(20)
