.page__home
    header#document-header
        position: relative !important
        .primary-menu
            > .container
                display: block
                @include media-breakpoint-up(desktop)
                    margin-top: space(10)
                    .logo
                        img
                            width: 100%
                            height: auto
                            transition: width 0.25s
                    .menu
                        margin-top: $spacing-4
                        li
                            margin-left: 0
                            margin-right: $spacing-4 !important
                            a
                                font-size: pxToRem(30)
                                padding: 0
                                text-decoration: underline 1px
    .hero
        padding-top: 30px !important
        background-color:#000000
        color:#ffffff
