.page__home
    header#document-header
        .primary-menu
            > .container
                @include media-breakpoint-up(desktop)
                    display: block
                    .logo
                        img
                            width: 100%
                            height: auto
                            transition: width 0.25s
                    .menu
                        margin-top: $spacing-5
                        li
                            margin-left: 0
                            margin-right: $spacing-4 !important
                            a
                                font-size: pxToRem(30)
                                padding: 0
